body {
  margin: 2%;
  padding: 0;
  background-color: #b7d4fa;
  font-family: "Arial", sans-serif; /* Define la fuente aquí para que se aplique globalmente */
}

select {
  width: 100%; /* Ocupa el ancho del contenedor */
  padding: 10px; /* Espacio interior para que sea cómodo */
  margin-bottom: 15px; /* Espacio debajo del select */
  border: 1px solid #ccc; /* Borde sutil */
  border-radius: 4px; /* Bordes ligeramente redondeados */
  background-color: #fff; /* Fondo blanco para el contenido */
  font-family: inherit; /* Hereda la fuente del documento */
  font-size: 16px; /* Tamaño de fuente legible */
}

/* Estilos generales para botones */
.boton,
.login-container form button {
  display: flex;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: inherit; /* Usa la fuente definida globalmente */
  justify-content: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.boton:hover,
.login-container form button:hover {
  background-color: #0056b3;
}

/* Estilos para la tabla */
table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
}

th,
td {
  border: 1px solid #863168;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #6062b5;
  color: #000;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Contenedores y layout */
.registro,
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el logo */
.logo,
.logo-centrado {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  width: 350px;
  height: auto;
}

/* Estilos de formulario */
.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-container form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

/* Footer y elementos legales */
footer {
  margin-top: auto;
  padding: 5px;
  background-color: #f0f0f0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.legal-info,
.legal-info a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.legal-info a:hover {
  text-decoration: underline;
}

/* Mensajes y menú */
.error,
.mensaje-error {
  background-color: rgb(216, 86, 86);
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: #6062b5;
  font-weight: bold;
  font-size: large;
}

.menu li a:hover {
  text-decoration: underline;
  color: #612f80;
}

.forgot-password {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.contenido {
  margin-bottom: 10px;
}

.mensaje-exito {
  color: #ffffff;
  background-color: #4caf50; /* Verde para éxito */
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.width {
  width: 35%;
  display: flex;
  margin: 0 au;
}

/* Estilos para el menú */
.menu {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(180px, 1fr)
  ); /* Ajusta según el tamaño deseado */
  gap: 20px; /* Espacio entre los botones */
  justify-content: center;
  padding: 20px;
}

.menu a {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  background-color: #007bff; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  text-decoration: none; /* Quitar el subrayado */
  padding: 15px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  font-weight: bold; /* Negrita para el texto */
  margin-bottom: 10px; /* Separación entre elementos */
}

.menu a img.landing {
  margin-right: 10px; /* Espacio entre el icono y el texto */
  width: 50px; /* Ajustar tamaño del icono */
  height: auto;
}

.menu a img {
  width: 50px; /* Ajustar tamaño del icono */
  height: auto;
  vertical-align: middle;
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.menu a:hover,
.menu a:focus {
  transform: translateY(-5px); /* Efecto de levantamiento */
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

/* Ajustes adicionales para mejorar la accesibilidad */
.menu a:focus {
  outline: 2px solid #0056b3; /* Contorno para foco de teclado */
  outline-offset: 2px;
}
.estado-aceptada {
  color: green;
  font-weight: bold;
}

.estado-rechazada {
  color: red;
  font-weight: bold;
}

.texto {
  display: inline-block;
  color: #6062b5; /* Color del texto */
  font-weight: bold; /* Tamaño del texto */
}

.notificacion {
  display: inline-block;
  margin-left: 8px;
  width: 20px;
  height: 20px;
  background-color: rgb(46, 163, 46);
  border-radius: 50%;
  content: "";
}

.boton-fichaje {
  background-color: #4caf50; /* Verde */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: grid;
  font-size: 16px;
  transition-duration: 0.4s; /* Efecto de transición */
  justify-content: center;
  font-weight: bold;
}

.boton-fichaje:hover {
  background-color: #45a049; /* Un verde un poco más oscuro */
}

.imagen-reducida {
  display: flex;
  width: 30px;
  height: auto;
  margin: 0 auto;
}

/* Estilos mejorados para formularios */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Asegura que padding no aumente el tamaño */
}

/* Botón estilizado */
.boton {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.boton:hover {
  background-color: #0056b3;
}

/* Mensajes de error y éxito */
.mensaje-error,
.mensaje-exito {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 20px;
}

.mensaje-error {
  background-color: #d9534f;
}

.mensaje-exito {
  background-color: #5cb85c;
}

/* Ajustes para la accesibilidad */
.form-group input[type="password"]:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Estilos para el contenedor del formulario */
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 500px;
  margin: 40px auto;
}

/* Estilos para los campos de entrada */
.container input[type="text"],
.container input[type="email"],
.container input[type="password"] .container input[type="date"] {
  width: calc(100% - 20px); /* Resta el padding del ancho total */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilizar el botón */
.container .boton {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.container .boton:hover {
  background-color: #0056b3;
}

/* Estilos para mensajes de éxito y error */
.mensaje-exito,
.mensaje-error {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.mensaje-exito {
  background-color: #28a745;
}

.mensaje-error {
  background-color: #dc3545;
}

body > div.container > div.contenido > div > form > button {
  width: 15%;
}

.centrar {
  display: flex;
  justify-content: center;
}

/* Estilos para el contenedor del formulario */
.container-grande {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 70%;
  margin: 40px auto;
}
/* Estilos para input de tipo date */
input[type="date"] {
  width: 100%; /* Ocupa el ancho completo del contenedor para consistencia */
  padding: 10px; /* Espaciado interno para que sea fácil de interactuar */
  border: 1px solid #ccc; /* Borde para delinear el campo de entrada */
  border-radius: 4px; /* Esquinas redondeadas para seguir el diseño del resto de los inputs */
  background-color: #fff; /* Fondo blanco o puedes elegir otro que se ajuste a tu diseño */
  font-family: inherit; /* Utiliza la misma fuente que el resto de los elementos */
  font-size: 16px; /* Tamaño de letra legible */
  box-sizing: border-box; /* El padding y border no aumentan el ancho */
  margin-bottom: 15px; /* Margen inferior para separarlo de otros campos */
}

